.textArea {
  resize: none;
  max-height: 300px;
  max-width: 500px;
  font-size: 16px;
}
.modalContent {
  padding: 20px;
  text-align: center;
}
.playlistMenuContainer {
  display: inline-block;
  position: relative;
}
.playlistMenu {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 6px;
  min-width: 160px;
}
@media screen and (max-width: 768px) {
  .playlistMenuContainer {
    display: block;
    margin: 0 auto;
    margin-left: 10px;
  }
}

.menuItem {
  padding: 8px 12px;
  cursor: pointer;
  color: #e3e3e3;
  border-radius: 6px;
  border: 1px solid #fff;
}

.playlistHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
